body{
  font-family: Palatino;
  margin: 10px 50px;
  padding: 10px;
  text-align: center;
  background: lightblue;
}

h2{
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

p{
  margin: 10px 15px;
}

#form-wrap{
  display: flex;
  flex-direction: column;

}

.comic-item{
  margin: auto;
  padding: 5px;
}

input{
  margin: 8px auto;
}

#delete-all-button{
  margin: 8px auto;
}

#save-button{
  margin: 8px auto;
}

#comic-list{
  border: 1rem ridge blue;
  display: flex;
  flex-basis: auto;
  flex-flow: wrap-reverse;
  justify-content: space-around;
  margin: 15px 140px;
  padding: 10px;
  font-size: 18px
}
